/* h1{
    color: violet;
    background-color: rosybrown;
}
p{
    color: rgb(255, 98, 0);
    background-color: rgb(0, 128, 255);
} 
*{
    color: red;
    background-color: bisque;
}
.cust{
    color: rgb(165, 42, 122) !important ;
}
.cust{
    color: rgb(38, 147, 5);
}
.rust{
    color: blue;
}
.cust{
    color: greenyellow;
    background-color: black;
}

for Class we Use .
for Id we Use 


#blackedd{
    color: rgb(0, 0, 255);
    background-color: rgba(236, 14, 14, 0.859);
}
a{
    color: red;
}
a[href="instagram"]{
    color: black;
}

 div,h1,span,em{
    color: greenyellow;
 } 
 span>p{
    color: red;
 }
 h1,em,div,cust{
    color: chocolate;
 } */
/* span>p{
    background-color: aqua;
 }
 li{
    list-style-type: disc;
    color: red;
 }
 li li{
    color: blueviolet  ;
 } */
/* h1+p{
    background-color: chartreuse;
 }
 h1~p{
    color: fuchsia;
 } */
p {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  text-transform: capitalize;
  /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.663); */
}
h1 {
  color: palegreen;
  /* text-shadow: 0 10px 5px black; */
}
body {
  background-repeat: no-repeat;
  background-image: url("1jpg.jpg");
  background-attachment: fixed;
}
