/* h1{
    color: violet;
    background-color: rosybrown;
}
p{
    color: rgb(255, 98, 0);
    background-color: rgb(0, 128, 255);
} 
*{
    color: red;
    background-color: bisque;
}
.cust{
    color: rgb(165, 42, 122) !important ;
}
.cust{
    color: rgb(38, 147, 5);
}
.rust{
    color: blue;
}
.cust{
    color: greenyellow;
    background-color: black;
}

for Class we Use .
for Id we Use 


#blackedd{
    color: rgb(0, 0, 255);
    background-color: rgba(236, 14, 14, 0.859);
}
a{
    color: red;
}
a[href="instagram"]{
    color: black;
}

 div,h1,span,em{
    color: greenyellow;
 } 
 span>p{
    color: red;
 }
 h1,em,div,cust{
    color: chocolate;
 } */
/* span>p{
    background-color: aqua;
 }
 li{
    list-style-type: disc;
    color: red;
 }
 li li{
    color: blueviolet  ;
 } */
/* h1+p{
    background-color: chartreuse;
 }
 h1~p{
    color: fuchsia;
 }
p {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  text-transform: capitalize;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.663);
}
h1 {
  color: rgb(251, 152, 201);
  font-size: 100%;
  text-shadow: 0 10px 5px black;
}
body {
  font-size: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: aqua;
  background-attachment: fixed;
}
ul{
    list-style-type: disc;
    list-style-position: outside ;
  }
body {
    font-size: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: aqua;
    background-attachment: fixed;
  }
  .small{

    background-color: wheat;
    margin: 20px 50px 30px 60px;
    padding: 20px;
    border: 11px solid black;
    width: 200px;
    height: 200px;
    overflow: auto;
  }
.ok{
    background-color: palevioletred;
} */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
header {
  padding: 50px;
  background-color: rebeccapurple;
}
header > a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header>a:hover{
    color: black;
    font-weight: 600;
}
section {
  height: 800px;
  width: 1000px;
  margin: auto;
  background-color: rgb(178, 178, 178);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
section>h1{
    font-size: 40px;
    border: 2px solid brown;
}
section>img{
    width: 748px;
}
footer {
  width: 1000px;
  margin: auto;
  background-color: #1d1b1b;
  text-align: center;
  padding: 50px 0px;
}
footer > a {
  color: wheat;
  text-decoration: none;
}
